@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

/**************************/
/*     General Styles     */
/**************************/
@layer base {
  body {
    @apply min-h-screen bg-dark-900 transition-all duration-150 ease-in-out;
  }
  * {
    @apply antialiased box-border;
  }
}

/**************************/
/*     Page Structure     */
/**************************/
@layer base {
  header {
    @apply z-20 flex items-center justify-between w-full h-8 transition-all duration-150 ease-in-out relative;
  }

  main {
    @apply relative flex flex-col flex-1 md:overflow-hidden md:flex-row top-16 md:top-0;
  }

  aside {
    @apply fixed left-0 z-30 flex flex-col w-full h-full pb-6 pt-20 bg-dark-700 dark:bg-dark-700 border-t-0 border-b border-r-0 dark:border-dark-600 border-light-200 md:flex-grow md:border-b-0 transform transition-all duration-150 ease-in-out overflow-hidden md:w-64 top-0;
  }

  .section-header-wrapper {
    @apply relative flex flex-col p-6 border-b dark:bg-dark-800 dark:border-dark-600 bg-white border-light-200 md:border-t-0 transition-all duration-150 ease-in-out;
  }

  .input-column-wrapper {
    @apply flex flex-col flex-1 border-r-0 md:border-r dark:border-dark-600 dark:bg-dark-800 bg-white border-light-200 transition-all duration-150 ease-in-out;
  }

  .preview-column-wrapper {
    @apply relative flex flex-col flex-1 border-t dark:bg-dark-800 dark:border-dark-600 bg-light-100 border-light-200 md:border-t-0 transition-all duration-150 ease-in-out;
  }

  .preview-column-wrapper .buttons-wrapper {
    @apply relative p-6 gap-x-2 flex w-full dark:bg-dark-900 dark:border-dark-600 bg-light-100 border-light-200 transition-all duration-150 ease-in-out;
  }
}

/**********************/
/*     Typography     */
/**********************/
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight mb-2
    transition-all duration-150 ease-in-out dark:text-white text-dark-700;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply mb-4 leading-relaxed
    dark:text-dark-300 text-dark-600 transition-all duration-150 ease-in-out;
  }
  a {
    @apply text-brand hover:cursor-pointer underline font-semibold dark:hover:text-white transition-all duration-150 ease-in-out hover:text-dark-700;
  }
}

/*****************************/
/*     Button Components     */
/*****************************/
@layer components {
  .btn-xs {
    @apply flex items-center px-2.5 py-2 text-xs font-semibold transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-sm {
    @apply flex items-center px-3 py-2.5 text-xs font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-md {
    @apply flex items-center px-3 py-3 text-xs font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-lg {
    @apply flex items-center px-5 py-4 text-sm tracking-wider font-semibold uppercase transition-all duration-150 ease-in-out rounded-md no-underline;
  }

  .btn-square {
    @apply flex items-center justify-center h-9 w-6 transition-all duration-150 ease-in-out rounded-md;
  }
}

@layer components {
  .btn-brand {
    @apply bg-brand text-white
    dark:text-white hover:bg-brand-alt;
  }

  .btn-gray {
    @apply bg-light-200/50 dark:bg-dark-700
    text-dark-500 dark:text-dark-300
    hover:bg-light-200 dark:hover:bg-dark-600
    hover:text-dark-700 dark:hover:text-white;
  }

  .btn-gray-outline {
    @apply border border-light-200 dark:border-dark-600;
  }

  .btn-trans {
    @apply bg-transparent dark:bg-transparent
    text-dark-500 dark:text-dark-300
    hover:bg-transparent dark:hover:bg-transparent
    hover:text-dark-700 dark:hover:text-white;
  }
}
/**********************/
/*     Animations     */
/**********************/
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.rotate{
  border-radius: 2px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}