body{
    font-family: 'Lato', sans-serif;
}
html.light .layout{
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    background-image: 
      linear-gradient(128deg, 
      rgba(242, 212, 177, 0.8) 0%, 
      rgba(255, 184, 240, 0.8) 20%, 
      rgba(255, 184, 196, 0.8) 30%, 
      rgba(255, 184, 184, 0.8) 40%, 
      rgba(210, 255, 184, 0.8) 60%, 
      rgba(195, 216, 117, 0.8) 70%, 
      rgba(123, 247, 185, 0.8) 80%, 
      rgba(77 , 218, 223, 0.8) 90%,
      rgba(147 ,129, 255, 0.8) 100%)
}
.layout .wrapper{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.topball{
    position: fixed;
    top: 0;
    left: 0;
    padding: 8rem;
    background-color: rgba(255, 184, 240,1);
    border-radius: 50%;
    transform: translate(-30%, -55%);
}
html.dark .topball, html.dark .bottomball{
    background-color: rgba(0, 0, 0, 0.6);
}
.bottomball{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8rem;
    background-color: rgb(205, 184, 255,1);
    border-radius: 50%;
    transform: translate(-10%, 55%);
}
.layout .main{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.main .wrap{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 1.5rem;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
}
html.dark .main .wrap{
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
.component{
    background-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.1));
}
html.dark .component{
    background-color: rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    overflow: hidden;
}
/* .header{
    position: relative;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
} */
.scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
}
  
::-webkit-scrollbar {
    width: 0;
    display: none;
}
@media screen and (max-width:768px) {
    .layout .main{
        padding: 0;
    }
    .main .wrap{
        border-radius: 0;
    }
}